<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo reference="caster_wheel_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>

    <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find-pkg-share bot_controller)/config/bot_controller.yaml</parameters>
    </plugin>
    
    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      <initial_orientation_as_reference>false</initial_orientation_as_reference>
    </plugin>

    
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
    </plugin>
    </gazebo>

    <ros2_control name="MobileBot" type="system">

        <!-- ros2_control Gazebo -->
        <!-- ROS 2 Humble -->
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- ros2_control Common Interfaces --> 
        <!-- Front right wheel -->
        <joint name="right_wheel_base_joint">
            <command_interface name="velocity">
              <param name="min">-10</param>
              <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" /> 
        </joint>

        <!-- Front left wheel -->
        <joint name="left_wheel_base_joint">
            <command_interface name="velocity">
              <param name="min">-10</param>
              <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        
    </ros2_control>

</robot>